@import url('https://fonts.googleapis.com/css?family=Inconsolata|Raleway&display=swap');

$wordpress-green: #306363;

$grey-text: #505050;


@mixin wordpress-font {
	color: $wordpress-green;
    font-family: 'Raleway', sans-serif;
}

.current {
    color: #003936;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-date {
    margin: auto;
}

nav {
	text-align: center;
    height: 45px;
    display: flex;
    justify-content: center;   
    align-items: center;
	background: $wordpress-green;

    a {
	    @include wordpress-font;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
		color: silver;
       	font-size: 17px;
        font-weight: 700;
    }
    
}

.posts {
    color: $grey-text;

    a {
	    @include wordpress-font;
    }
}

h1, h2, h3, h4, h5 {
	@include wordpress-font;
}

.post-title {
	text-align: center;
    font-size: 47px;
	@include wordpress-font;
}

iframe.map-frame {
	border: none;
}

body {
    margin: 0;
}

.FeaturedImgBanner {
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contains;
	
	height: 400px;
}

.center-column {
	margin: auto;
    max-width: 740px;
}

.projects-column {
	@extend .center-column;

	margin-top: 50px;
	display: flex;
    flex-wrap: wrap;
	justify-content: center;	

    a, label {
	    @include wordpress-font;
        text-decoration: none;
        cursor: pointer;
    }
}

.post-body {
    font-size: 18px;
    line-height: 1.75;
    color: $grey-text;

    img {
        margin: auto;
        display:block;
    } 
}

/* for rouge highlighted code blocks */
pre.highlight pre { 
    white-space: pre;
    overflow-x: scroll;
    font-family: 'Inconsolata', monospace;

}


.site-link {
    margin: 10px;
    font-weight: bold;
}

.site-link img {
    border-radius: 10px;
    width: 200px;
    height: 124px;
    border: darkgray solid 2px;
}

.site-link label {
    display: block;
    text-align: center;
}

