<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
	<link href="{{site.baseurl}}/assets/css/code-syntax.css" rel="stylesheet" >

    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png">

	<script type="text/javascript"
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script> 
  </head>
  <body>
	{% include navigation.html %}
   
   	{{ content }}
  </body>
</html> 
